.youtube-button{
            background-color: rgb(200, 0, 0);
            color: aliceblue;
            border:none;
            border-color: black;
            /* height: 30px;
            width: 110px; */
            padding-top: 7px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 7px;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 10px;
            transition: opacity 0.15s;
        }
        .youtube-button:hover{
            /* background-color: green; */
            opacity: 0.8;
        }
        .youtube-button:active{
            /* background-color: blue; */
            opacity: 0.3;
        }
        
        .Join-button{
            background-color: white;
            color: rgb(5, 134, 255);
            border-color: rgb(5, 134, 255);
            border-style: solid;
            border-width: 1px;
            /* width: 50px;
            height: 30px; */
            padding-top: 6px;
            padding-left: 14px;
            padding-right: 14px;
            padding-bottom: 6px;
            cursor: pointer;
            border-radius: 2px;
            margin-right: 10px;
            transition: background-color 0.15s,color 0.15s;
        }
        .Join-button:hover{
            background-color: rgb(5, 134, 255);
            color:white;
        }
        .Join-button:active{
            opacity: 0.7;
        }
        .tweet-button{
            background-color: rgb(5, 134, 255);
            color: white;
            /* height: 30px;
            width: 74px; */
            padding-top: 7px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 7px;
            cursor: pointer;
            border-radius: 20px;
            border: none;
            font-weight: bold;
            font-size: 15px;
            transition: box-shadow 0.15;
          

        }
        .tweet-button:hover{
              box-shadow:  5px 5px 5px rgba(0,0,0,0.25);

        }
        .tweet-button:active{
            opacity: 0.8;
        }
        .navbar{
            background-color: rgb(41, 67, 64);
            height: 40px;
            width:auto;
            margin-top: 20px;
            border-color:bisque;
            border-width: 4px;
            cursor: pointer;
            border-radius: 15px;
            border-style: solid;

        }
        .home{
            margin-top: 50px;
            margin-left:30px;
            margin-right: 30px;
            /* margin-bottom: 10px; */
            color: white;
            font-weight: bold;
            font-size: large;
            
        }
        .contact-us{
            margin-top: 50px;
            margin-left: 30px;
            margin-right: 30px;
            /* margin-bottom: 10px; */
            color: white;
            font-weight: bold;
            font-size: large;
            transition: color 1s;

        }
        .contact-us:hover{
            color: orangered;
        }
        .contact-us:active{
            opacity: 0.8;
        }
        .about-us{
            margin-top:50px;
             margin-left: 30px; 
            margin-right: 970px;
            /* margin-bottom: 10px; */
            color: white;
            font-weight: bold;
            font-size: large;

        }
        .List{
            color: white;
            font-size: large;
            font-weight: bold;
            font-weight: 15px;
            margin-right:30px;
            margin-left: 30px;
        }
        .p{
            color: rgb(0, 255, 89);
        }
        .click{
            color: rgb(0, 51, 255);
            cursor: pointer;
            transition: color 0.31s;
        }
        .click:hover{
            color: orange;

        }
        .click:active{
            opacity: 0.8;
        }